:root {
  --swiper-pagination-color: #fcd34d;
}

.peachy-container {
  width: 1440px;
  max-width: 100%;
}

h2, h3 {
  font-family: 'Neucha', cursive;
}
.card-button {
  font-family: 'PT Sans Narrow', sans-serif;
}
.swiper-pagination {
  bottom: 0!important;
}
